<div class="row">
  <div class="col-md-9">
      <h1>People</h1>
      <ul class="list-group">
          <li 
            class="list-group-item d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center"  
            *ngFor="let person of people">
          <span>
            {{ person.name }} / {{ person.height | height }} / {{ person.homeworld | homeworld | async}}
          </span> 
          <span class="badge rounded-pill bg-primary" style="cursor: pointer;">
            <a (click)="details(person.url)"> More details</a>
          </span>
      </li>
  </ul>
</div>